<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @deal.title %>
</p>

<p>
  <b>Start date:</b>
  <%= @deal.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @deal.end_date %>
</p>

<p>
  <b>Quantity:</b>
  <%= @deal.quantity %>
</p>

<p>
  <b>Description:</b>
  <%= @deal.description %>
</p>

<p>
  <b>Number sold:</b>
  <%= @deal.number_sold %>
</p>


<%= link_to 'Edit', edit_deal_path(@deal) %> |
<%= link_to 'Back', deals_path %>
